.container {
  position: absolute;
  width: 25.25rem;
  height: 31rem;
  z-index: 10000;
  background-color: white;
  flex-direction: column;
  right: 1.5rem;
  top: 1.5rem;
  border-radius: 1rem;
  padding: 1.75rem 1.5rem;
  box-sizing: border-box;

  & > button:last-child {
    position: absolute;
    width: 80%;
  }
}

.logoutButtonContainer {
  width: 90%;
  bottom: 1rem;
  position: absolute;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-weight: 700;
    font-size: 24px;
  }
}

.fetchedUsersItemContainer {
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: center;
  flex-direction: row;
  gap: 1rem;

  & > img {
    border-radius: 100%;
    margin-left: 0.5rem;
    width: 2rem;
    height: 2rem;
  }

  & > p {
    font-size: 14px;
  }

  & > img:last-child {
    border-radius: 0;
    margin-left: auto;
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }
}

.label {
  font-size: 14px;
  color: #333333;
}

.searchBarContainer {
  display: flex;
  width: 100%;
  height: fit-content;
  gap: 1rem;
  margin-top: 1rem;
  flex-direction: column;
}

.input {
  width: 100%;
  height: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

.content {
  display: flex;
  width: 100%;
  height: 5.25rem;
  flex-direction: row;
  gap: 1rem;

  img {
    border-radius: 100%;
    width: 4.5rem;
    height: 4.5rem;
  }
}

.contentActions {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;

  h3 {
    height: fit-content;
    margin: 0;
  }

  p {
    margin: 0;
    color: gray;
  }
}
